<!-- Push modal -->
<div class="modal fade" id="pushModal" tabindex="-1" role="dialog" aria-labelledby="pushModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pushModalLabel">Synchronize a specific EP</h5>
        <button type="button" class="close" #closeModalButton data-dismiss="modal" aria-label="Close"
          (click)="cleanModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="pushForm">

          <div class="row">
            <label for="name" class="col-sm-4 col-form-label">EXPA ID</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="id" placeholder="EXPA ID" required formControlName="expa_id" />
            </div>
          </div>

        </form>

        <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
          {{ errorMsg }}
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cleanModal()">
          Close
        </button>
        <button type="button" class="btn btn-primary" [disabled]="submitting || pushForm.pristine" (click)="submitModal()">
          <i *ngIf="submitting" class="fa fa-spinner fa-spin" style="margin-right: 5px;"></i>Synchronize
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h2>Hi<ng-container *ngIf="me.formatName$ | async as name">, {{ name }}</ng-container>!</h2>

  <div class="mt-4">

    <div class="row">

      <!-- LC info -->
      <div class="col-md-8 mt-4">

        <!-- LC summary -->
        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-3">Your LC at a glance</h4>

            <ng-container *ngIf="stats; else loading">
              <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{ stats['lc_name'] }}</h5>
                      <p class="card-text">Your LC</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{ nLogs(stats['logs_period']) }}</h5>
                      <p class="card-text">Sign-ups since the beginning of the period</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{ nLogs(stats['logs_week']) }}</h5>
                      <p class="card-text">Sign-ups over the last 7 days</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="!isMobile()">
                <div class="com-sm-12 mt-4" style="margin: auto;">
                  <div [chart]="chart"></div>
                </div>
              </div>
            </ng-container>
            <ng-template #loading>
              <app-loading></app-loading>
            </ng-template>
            
          </div>
        </div>

        <!-- Latest push -->
        <div class="row">
          <div class="col-md-12 mt-4">
            <h4>Latest updates to Trello</h4>
            
            <ng-container *ngIf="logs; else loading">
            
              <ng-container *ngIf="logs.length; else noLogs">
                <table class="table mt-3">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">New signups</th>
                      <th scope="col">Timestamp</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let log of logs">
                      <th scope="row">{{ log.id }} </th>
                      <td>{{ log.n | number }}</td>
                      <td>{{ log.stamp | date: 'HH:mm, dd MMMM yyyy' }}</td>
                    </tr>
                  </tbody>
                </table>
            
              </ng-container>
            
              <ng-template #noLogs>
                <p>There are no logs yet.</p>
              </ng-template>
            
              <p class="text-black-50 mt-5">
                Press one of the buttons below to synchronize the EXPA database with Trello now.
              </p>
            
              <button type="button" class="btn btn-outline-primary mr-2" [disabled]="submitting" (click)="push()">
                <i *ngIf="submitting" class="fa fa-spinner fa-spin" style="margin-right: 5px;"></i> Synchronize</button>

              <button *ngIf="me.isMCVPOGX$ | async" type="button" class="btn btn-outline-secondary mr-2" [disabled]="submitting" (click)="pushAll()">
                <i *ngIf="submitting" class="fa fa-spinner fa-spin" style="margin-right: 5px;"></i> Synchronize all</button>
            
              <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#pushModal">
                Synchronize specific EP</button>
            
              <div class="alert alert-danger mt-2" role="alert" *ngIf="errorMsg">
                {{ errorMsg }}
              </div>
            
            </ng-container>
            
            <ng-template #loading>
              <app-loading></app-loading>
            </ng-template>
          </div>
        </div>
        
      </div>

      <!-- OGX CRM info -->
      <div class="col-md-4 mt-4">
        <h4 class="mb-3">Latest news</h4>
        
        <ng-container *ngIf="news; else loading">
        
          <ng-container *ngIf="news.length; else noNews">
            
            <ng-container *ngFor="let n of news">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card mb-3">
                    <div class="card-body">
                      <h5 class="card-title">{{ n.title }}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{ n.stamp | date: 'HH:mm, dd MMMM yyyy' }}</h6>
                      <div class="card-text" [innerHTML]="n.text"></div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
        
          </ng-container>
        
          <ng-template #noNews>
            <p>There are no news yet.</p>
          </ng-template>
        
        </ng-container>
        
        <ng-template #loading>
          <app-loading></app-loading>
        </ng-template>
      </div>
    </div>
  </div>
</div>