.navbar-brand {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}

.footer {
  clear: both;
  position: relative;
  width: 100%;
  margin-top: 60px;
  height: 60px;
  line-height: 60px;
}

.logged-in-as {
  color: rgba(255, 255, 255, 0.5) !important;
}